{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
  {% if current_user.is_authenticated %}
    <br>
    <main role="main" class="container">
      <div class="jumbotron text-center mb-4">
        <h1>Вітаємо, {{ current_user.name }}</h1>
        <p class="lead">Скористайтесь меню для навігації по системі</p>
        <a class="btn btn-lg btn-danger" href="/logout" role="button">Вийти &raquo;</a>
      </div>
    </main>
  {% else %}
    <br>
    <main role="main" class="container">
      <div class="jumbotron text-center mb-4">
        <h1>Для використання системи необхідно авторизуватись</h1>
        <p class="lead">Авторизація надає доступ до журналу обліку та списку клієнтів</p>
        <a class="btn btn-lg btn-primary" href="/login" role="button">Увійти &raquo;</a>
      </div>
    </main>
  {% endif %}
{% endblock %}
