{% extends 'base.html' %}

{% block head %}

  <!-- Modal scripts -->
  <script type="text/javascript">
    $('#create_event').on('shown.bs.modal', function() {
     $('#myInput').focus();
   });
  </script>

  <script type="text/javascript">
    $('#edit_event').on('shown.bs.modal', function() {
     $('#myInput').focus();
   });
  </script>

  <script type="text/javascript">
    $('#edit_event').on('shown.bs.modal', function() {
     $('#myInput').focus();
   });
  </script>

  <script>
  function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("journal");
    switching = true;
    // Set the sorting direction to ascending:
    dir = "asc";
    /* Make a loop that will continue until
    no switching has been done: */
    while (switching) {
      // Start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /* Loop through all table rows (except the
      first, which contains table headers): */
      for (i = 1; i < (rows.length - 1); i++) {
        // Start by saying there should be no switching:
        shouldSwitch = false;
        /* Get the two elements you want to compare,
        one from current row and one from the next: */
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        /* Check if the two rows should switch place,
        based on the direction, asc or desc: */
        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        /* If a switch has been marked, make the switch
        and mark that a switch has been done: */
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        // Each time a switch is done, increase this count by 1:
        switchcount ++;
      } else {
        /* If no switching has been done AND the direction is "asc",
        set the direction to "desc" and run the while loop again. */
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }
  </script>

  <script>
  function myFunction() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("journal");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
  </script>

  <style media="screen">
    #myInput {
      background-position: 10px 12px; /* Position the search icon */
      background-repeat: no-repeat; /* Do not repeat the icon image */
      width: 100%; /* Full-width */
      font-size: 16px; /* Increase font-size */
      padding: 12px 20px 12px 40px; /* Add some padding */
      border: 1px solid #ddd; /* Add a grey border */
      margin-bottom: 12px; /* Add some space below the input */
    }
  </style>

  <style media="screen">
    .pt-3-half {
      padding-top: 1.4rem;
    }
  </style>

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"/>
  <script type="text/javascript" src="static/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript">
    $(document).ready( function () {
      $('#journal_table').DataTable();
    } );
  </script>

  <script type="text/javascript">
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>


{% endblock %}

{% block body %}



  <!-- CREATE MODAL -->
  <div id="create_event" class="modal" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Новий запис</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="needs-validation" method="POST" action="/journal" novalidate>
            <p>
              <label for="customer_id">Номер клієнта</label>
              <input class="form-control" min="1" max="10000" type="number" name="customer_id" id="customer_id" placeholder="52" required>
            </p>
            <div class="valid-feedback">
              Добре!
            </div>
            <p>
              <div>
                <label for="car_number">Номер авто</label>
                <input class="form-control" pattern="[А-ЯІЮЄЇA-Z0-9]{4,12}" type="text" name="car_number" id="car_number" placeholder="АН2012ВТ" required>
                <div class="invalid-feedback">
                  Перевірте правильність номеру
                </div>
              </div>
            </p>
            <p>
              <div class="form-group">
                <label for="lot_type">Тип місця</label>
                <select id="lot_type" name="lot_type" class="custom-select" required>
                  <option value="">Оберіть зі списку</option>
                  <option value="1">Відкрита зона (2.5х5)</option>
                  <option value="2">Відкрита зона (>5)</option>
                  <option value="3">Відкрита зона (парне одне місце)</option>
                  <option value="7">Відкрита зона (парне два місця)</option>
                  <option value="4">Бокс</option>
                  <option value="5">Бокс (парний одне місце)</option>
                  <option value="8">Бокс (парний два місця)</option>
                  <option value="6">Навіс</option>
                </select>
                <div class="invalid-feedback">Оберіть, будь ласка, зі списку</div>
              </div>
            </p>
            <p>
              <div>
                <label for="num_days">Кількість днів</label>
                <input class="form-control" min="1" max="1000" type="number" name="num_days" id="num_days" placeholder="10" required>
                <div class="invalid-feedback">
                  Кількість днів вказана невірно
                </div>
              </div>
            </p>
            <p>
              <div>
                <label for="token">Жетон</label>
                <input class="form-control" min="1" max="1000" type="number" name="token" id="token" placeholder="55" required>
                <div class="invalid-feedback">
                  Перевірте правильність жетону
                </div>
              </div>
            </p>
            <p>Пошкодження</p>
            <p>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" value="1" class="custom-control-input" name="head_lights" id="head_lights">
                <label class="custom-control-label" for="head_lights">Передні фари</label>
              </div>
              &nbsp;&nbsp;&nbsp;
              <div class="custom-control custom-checkbox custom-control-inline text-center">
                <input type="checkbox" value="1" class="custom-control-input" name="tail_lights" id="tail_lights">
                <label class="custom-control-label" for="tail_lights">Задні фари</label>
              </div>
              <br>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" value="1" class="custom-control-input" name="front_bumper" id="front_bumper">
                <label class="custom-control-label" for="front_bumper">Передній бампер</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline text-center">
                <input type="checkbox" value="1" class="custom-control-input" name="rear_bumber" id="rear_bumber">
                <label class="custom-control-label" for="rear_bumber">Задній бампер</label>
              </div>
              <br>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" value="1" class="custom-control-input" name="hood" id="hood">
                <label class="custom-control-label" for="hood">Капот</label>
              </div>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" value="1" class="custom-control-input" name="trunk" id="trunk">
                <label class="custom-control-label" for="trunk">Багажник</label>
              </div>
              <br>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" value="1" class="custom-control-input" name="left_front_wheel" id="left_front_wheel">
                <label class="custom-control-label" for="left_front_wheel">Ліве переднє колесо</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" value="1" class="custom-control-input" name="right_front_wheel" id="right_front_wheel">
                <label class="custom-control-label" for="right_front_wheel">Праве переднє колесо</label>
              </div>
              <br>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" value="1" class="custom-control-input" name="left_rear_wheel" id="left_rear_wheel">
                <label class="custom-control-label" for="left_rear_wheel">Ліве заднє колесо</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" value="1" class="custom-control-input" name="right_rear_wheel" id="right_rear_wheel">
                <label class="custom-control-label" for="right_rear_wheel">Праве заднє колесо</label>
              </div>
              <br>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" value="1" class="custom-control-input" name="left_front_wing" id="left_front_wing">
                <label class="custom-control-label" for="left_front_wing">Ліве переднє крило</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" value="1" class="custom-control-input" name="right_front_wing" id="right_front_wing">
                <label class="custom-control-label" for="right_front_wing">Праве переднє крило</label>
              </div>
              <br>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" value="1" class="custom-control-input" name="left_rear_wing" id="left_rear_wing">
                <label class="custom-control-label" for="left_rear_wing">Ліве заднє крило</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" value="1" class="custom-control-input" name="right_rear_wing" id="right_rear_wing">
                <label class="custom-control-label" for="right_rear_wing">Праве заднє крило</label>
              </div>
              <br>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" value="1" class="custom-control-input" name="middle_front_glass" id="middle_front_glass">
                <label class="custom-control-label" for="middle_front_glass">Лобове скло</label>
              </div>
              &nbsp;&nbsp;&nbsp
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" value="1" class="custom-control-input" name="middle_rear_glass" id="middle_rear_glass">
                <label class="custom-control-label" for="middle_rear_glass">Заднє скло</label>
              </div>
              <br>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" value="1" class="custom-control-input" name="left_front_glass" id="left_front_glass">
                <label class="custom-control-label" for="left_front_glass">Ліве переднє скло</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" value="1" class="custom-control-input" name="right_front_glass" id="right_front_glass">
                <label class="custom-control-label" for="right_front_glass">Праве переднє скло</label>
              </div>
              <br>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" value="1" class="custom-control-input" name="left_rear_glass" id="left_rear_glass">
                <label class="custom-control-label" for="left_rear_glass">Ліве заднє скло</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" value="1" class="custom-control-input" name="right_rear_glass" id="right_rear_glass">
                <label class="custom-control-label" for="right_rear_glass">Праве заднє скло</label>
              </div>
              <br>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" value="1" class="custom-control-input" name="left_front_door" id="left_front_door">
                <label class="custom-control-label" for="left_front_door">Ліві передні двері</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" value="1" class="custom-control-input" name="right_front_door" id="right_front_door">
                <label class="custom-control-label" for="right_front_door">Праві передні двері</label>
              </div>
              <br>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" value="1" class="custom-control-input" name="left_rear_door" id="left_rear_door">
                <label class="custom-control-label" for="left_rear_door">Ліві задні двері</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" value="1" class="custom-control-input" name="right_rear_door" id="right_rear_door">
                <label class="custom-control-label" for="right_rear_door">Праві задні двері</label>
              </div>
              <br>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" value="1" class="custom-control-input" name="roof" id="roof">
                <label class="custom-control-label" for="roof">Дах</label>
              </div>
            </p>
            <div class="modal-footer">
              <input type="submit" class="btn btn-primary" value="Зберегти"></input>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>


  <!-- TABLE -->
  <div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Журнал обліку</h3>
    <div class="card-body">
      {% if current_user.username == 'admin' or duty.opened %}
      <div id="table" class="table-editable">
        <table id="journal_table" class="table table-bordered table-responsive-md table-striped table-sm text-center">
          <caption>
            <div class="p-3">
              <button class="btn btn-success float-left" data-toggle="modal" data-target="#create_event">+ Створити запис</button>
            </div>
          </caption>
          <thead>
            <tr>
              <th onclick="sortTable(0)" class="text-center align-top">№</th>
              <th onclick="sortTable(1)" class="text-center align-top">П.І.Б.</th>
              <th onclick="sortTable(2)" class="text-center align-top">Марка</th>
              <th onclick="sortTable(3)" class="text-center align-top">Номер авто</th>
              <th onclick="sortTable(4)" class="text-center align-top">Жетон</th>
              <th onclick="sortTable(5)" class="text-center align-top">Дата заїзду</th>
              <th onclick="sortTable(6)" class="text-center align-top">Час заїзду</th>
              <th onclick="sortTable(7)" class="text-center align-top">Поч. сума</th>
              <th onclick="sortTable(10)" class="text-center align-top">К-сть днів</th>
              <th onclick="sortTable(8)" class="text-center align-top">Дата виїзду</th>
              <th onclick="sortTable(9)" class="text-center align-top">Час виїзду</th>
              <th onclick="sortTable(11)" class="text-center align-top">Сума по факту</th>
              <th onclick="sortTable(12)" class="text-center align-top">Деталі</th>
              <th onclick="sortTable(13)" class="text-center align-top">Предчек/чек</th>
            </tr>
          </thead>
          <tbody>
            {% for event in events %}
              <tr>
                <td class="pt-3-half">{{event.id}}</td>
                <td class="pt-3-half">{{' '.join((event.last_name, event.first_name, event.middle_name))}}</td>
                <td class="pt-3-half">{{event.car_brand}}</td>
                <td class="pt-3-half">{{event.car_number}}</td>
                <td class="pt-3-half">{{event.token}}</td>
                <td class="pt-3-half">{{event.enter_datetime.strftime('%Y-%m-%d')}}</td>
                <td class="pt-3-half">{{event.enter_datetime.strftime('%H:%M')}}</td>
                <td class="pt-3-half">{{event.pre_payment}}</td>
                <td class="pt-3-half">{{event.total_days}}</td>
                {% if event.departure_datetime is not none %}
                  <td class="pt-3-half">{{event.departure_datetime.strftime('%Y-%m-%d')}}</td>
                  <td class="pt-3-half">{{event.departure_datetime.strftime('%H:%M')}}</td>
                  <td class="pt-3-half">{{event.after_payment}}</td>
                {% else %}
                  <td class="pt-3-half">-</td>
                  <td class="pt-3-half">-</td>
                  <td class="pt-3-half">-</td>
                {% endif %}
                <td class="pt-3-half">
                  <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#details_{{event.id}}">Показати</button>
                </td>
                <td class="pt-3-half">
                  <p>
                  {% if not event.closed %}
                    <a class="btn btn-success btn-sm" href="/journal/pre_close_event/{{event.id}}">
                      <i class="fa fa-check"></i>
                    </a>
                    <a class="btn btn-success btn-sm" data-toggle="modal" data-target="#close_event_{{event.id}}">
                      <i class="fa fa-print"></i>
                    </a>
                    </p>
                  {% endif %}
                  <p>
                  {% if current_user.role == 'admin' %}
                    <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#edit_{{event.id}}">
                      <i class="fa fa-pencil"></i>
                    </a>
                    <a class="btn btn-danger btn-sm"  href="/journal/delete/{{event.id}}">
                      <i class="fa fa-trash-o"></i>
                    </a>
                  {% endif %}
                  </p>
                </td>


              </tr>

              <!-- CLOSE_EVENT_CONFIRMATION_MODAL -->
              <div id="close_event_{{event.id}}" class="modal" tabindex="-1" role="dialog" >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Ви впевнені, що хочете закрити позицію?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form method="POST" action="/journal/close_event/{{event.id}}">
                      <div class="modal-body">
                        <div>
                          <input type="checkbox" value="1" name="form_avail" id="form_avail">
                          <label for="form_avail">Наявність заяви (якщо забирає авто інша людина)</label>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Зберегти"></input>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- EDIT MODAL -->
              <div id="edit_{{event.id}}" class="modal" tabindex="-1" role="dialog" >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Змінити запис</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form class="needs-validation" method="POST" action="/journal/edit/{{event.id}}">
                        <p>
                          <label for="fullname">ПІБ</label>
                          <input class="form-control" pattern="^[А-ЯІЮЄЇA-Z]{1}[а-яюієїa-z]+\s[А-ЯЮІЄЇA-Z]{1}[а-яюієїa-z]+\s[А-ЯЮІЄЇA-Z]{1}[а-яюєіїa-z]+" type="text" name="fullname" id="fullname" value="{{' '.join((event.last_name, event.first_name, event.middle_name))}}">
                        </p>
                        <p>
                          <label for="car_brand">Марка авто</label>
                          <input class="form-control" maxlength="20" type="text" name="car_brand" id="car_brand" value="{{event.car_brand}}">
                        </p>
                        <p>
                          <label for="car_number">Номер авто</label>
                          <input class="form-control" pattern="[А-ЯІЮЄЇA-Z0-9]{4,12}" type="text" name="car_number" id="car_number" value="{{event.car_number}}">
                        </p>
                        <p>
                          <label for="phone_number">Номер телефону</label>
                          <input class="form-control" pattern="\+[0-9]{12}" type="text" name="phone_number" id="phone_number" value="{{event.phone_number}}">
                        </p>
                        <p>
                          <label for="token">Жетон</label>
                          <input class="form-control" min="1" max="1000" type="number" name="token" id="token" value="{{event.token}}">
                        </p>
                        <p>
                          <label for="enter_date">Дата заїзду</label>
                          <input value="21/06/2019" class="form-control" type="date" name="enter_date" id="enter_date" value="{{event.enter_date}}">
                        </p>
                        <p>
                          <label for="enter_time">Час заїзду</label>
                          <input class="form-control" type="time" name="enter_time" id="enter_time" value="{{event.enter_time}}">
                        </p>
                        <p>
                          <label for="pre_payment">Сума поч.</label>
                          <input class="form-control" type="number" name="pre_payment" id="pre_payment" value="{{event.pre_payment}}">
                        </p>
                        <p>
                          <label for="departure_date">Дата виїзду</label>
                          <input class="form-control" type="date" name="departure_date" id="departure_date" value="{{event.departure_date}}">
                        </p>
                        <p>
                          <label for="departure_time">Час виїзду</label>
                          <input class="form-control" type="time" name="departure_time" id="departure_time" value="{{event.departure_time}}">
                        </p>
                        <p>
                          <label for="total_days">К-сть днів</label>
                          <input class="form-control" min="1" max="1000" type="number" name="total_days" id="total_days" value="{{event.total_days}}">
                        </p>
                        <p>
                          <label for="after_payment">Сума по факту</label>
                          <input class="form-control" type="number" name="after_payment" id="after_payment" value="{{event.after_payment}}">
                        </p>
                        <div class="modal-footer">
                          <input type="submit" class="btn btn-primary" value="Зберегти"></input>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <!-- DETAILS MODAL -->
              <div id="details_{{event.id}}" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Деталі запису</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <div class="modal-body">

                      <p>Номер телефону: {{event.phone_number}}</p>
                      <p>Місце: {{event.lot.name}}</p>
                      <p>Наявність заяви:
                        {% if event.form_avail %}
                          <i class="fa fa-check"></i>
                        {% else %}
                          <i class="fa fa-times"></i>
                        {% endif %}
                      </p>
                      <p>Пошкодження:</p>
                      <ul>

                      {% for dmg in damage %}
                        {% if event == dmg.event %}
                          {% if dmg.head_lights %}
                            <li>Передні фари</li>
                          {% endif %}
                          {% if dmg.tail_lights %}
                            <li>Задні фари</li>
                          {% endif %}
                          {% if dmg.front_bumper %}
                            <li>Передній бампер</li>
                          {% endif %}
                          {% if dmg.rear_bumper %}
                            <li>Задній бампер</li>
                          {% endif %}
                          {% if dmg.hood %}
                            <li>Капот</li>
                          {% endif %}
                          {% if dmg.trunk %}
                            <li>Багажник</li>
                          {% endif %}
                          {% if dmg.left_front_wheel %}
                            <li>Ліве переднє колесо</li>
                          {% endif %}
                          {% if dmg.right_front_wheel %}
                            <li>Праве переднє колесо</li>
                          {% endif %}
                          {% if dmg.left_rear_wheel %}
                            <li>Ліве заднє колесо</li>
                          {% endif %}
                          {% if dmg.right_rear_wheel %}
                            <li>Праве заднє колесо</li>
                          {% endif %}
                          {% if dmg.left_front_wing %}
                            <li>Ліве переднє крило</li>
                          {% endif %}
                          {% if dmg.right_front_wing %}
                            <li>Праве переднє крило</li>
                          {% endif %}
                          {% if dmg.left_rear_wing %}
                            <li>Ліве заднє крило</li>
                          {% endif %}
                          {% if dmg.right_rear_wing %}
                            <li>Праве заднє крило</li>
                          {% endif %}
                          {% if dmg.middle_front_glass %}
                            <li>Лобове скло</li>
                          {% endif %}
                          {% if dmg.middle_rear_glass %}
                            <li>Заднє скло</li>
                          {% endif %}
                          {% if dmg.left_front_glass %}
                            <li>Ліве переднє скло</li>
                          {% endif %}
                          {% if dmg.right_front_glass %}
                            <li>Праве переднє скло</li>
                          {% endif %}
                          {% if dmg.left_rear_glass %}
                            <li>Ліве заднє скло</li>
                          {% endif %}
                          {% if dmg.right_rear_glass %}
                            <li>Праве заднє скло</li>
                          {% endif %}
                          {% if dmg.left_front_door %}
                            <li>Ліві передні двері</li>
                          {% endif %}
                          {% if dmg.right_front_door %}
                            <li>Праві передні двері</li>
                          {% endif %}
                          {% if dmg.left_rear_door %}
                            <li>Ліві задні двері</li>
                          {% endif %}
                          {% if dmg.right_rear_door %}
                            <li>Праві задні двері</li>
                          {% endif %}
                          {% if dmg.roof %}
                            <li>Дах</li>
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    </ul>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                    </div>


                  </div>
                </div>
              </div>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <div class="jumbotron text-center mb-4">
        <h1>Необхідно відкрити зміну</h1>
        <p class="lead">Швидкий доступ</p>
        <a class="btn btn-lg btn-success" href="/duty" role="button">Відкрити зміну &raquo;</a>
      </div>
      {% endif %}
    </div>
  </div>

{% endblock %}
